<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Photo</title>
</head>
<body>
<form th:action="@{/photos}" th:object="${photoAddForm}" th:method="post">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Tags:</td>
            <td><input type="text" th:field="*{tag}"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Add photo</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>